 <Ui xmlns="http://www.blizzard.com/wow/ui/"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ../../FrameXML/UI.xsd">

	<Script file="Settings.lua"/>

	<Button name="WQT_SettingCategoryTemplate" virtual="true">
		<Size y="40"/>	
		<Layers>
			<Layer level="BORDER">
				<Texture parentKey="BGLeft" atlas="PetJournal-BattleSlotTitle-Left" useAtlasSize="true" desaturated="true">
					<Anchors>
						<Anchor point="TOPLEFT" x="3"/>
					</Anchors>
					<Color r="0.75" g="0.75" b="0.75"/>
				</Texture>
				<Texture parentKey="BGRight" atlas="PetJournal-BattleSlotTitle-Right" useAtlasSize="true" desaturated="true">
					<Anchors>
						<Anchor point="TOPRIGHT" x="0"/>
					</Anchors>
					<Color r="0.75" g="0.75" b="0.75"/>
				</Texture>
				<Texture parentKey="BGMiddle" atlas="_BattleSlotTitle-Mid" horizTile="true" desaturated="true">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.BGLeft" relativePoint="TOPRIGHT"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.BGRight" relativePoint="BOTTOMLEFT"/>
					</Anchors>
					<Color r="0.75" g="0.75" b="0.75"/>
				</Texture>
			</Layer>
			<Layer level="BACKGROUND">
				<Texture parentKey="BGLeft" atlas="_BattleSlotTitle-BG" horizTile="true" desaturated="true">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.BGLeft" x="30" y="-7"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.BGRight" x="-30" y="7"/>
					</Anchors>
					<Color r="0.75" g="0.75" b="0.75"/>
				</Texture>
			</Layer>
			
			<Layer level="ARTWORK">
				<FontString parentKey="Title" inherits="GameFontHighlight" maxLines="1" justifyH="CENTER" text="testing">
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.BGMiddle" x="15" y="1"/>
						<Anchor point="RIGHT" relativeKey="$parent.BGMiddle" x="-15" y="1"/>
					</Anchors>
				</FontString>
				<Texture parentKey="ExpandIcon" atlas="friendslist-categorybutton-arrow-right" useAtlasSize="true" desaturated="true">
					<Anchors>
						<Anchor point="CENTER" relativeKey="$parent.BGMiddle" relativePoint="LEFT" x="10" y="-1"/>
					</Anchors>
				</Texture>
				
			</Layer>
			
			<Layer level="HIGHLIGHT">
				<Texture parentKey="Highlight" atlas="groupfinder-highlightbar-blue" alphaMode="ADD">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.BGLeft" x="0" y="-1"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.BGRight" x="-30" y="8"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
		<Scripts>
			<OnClick>
				WQT_SettingsFrame:SetCategoryExpanded(self.id, not self.isExpanded);
				PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
			</OnClick>
		</Scripts>
	</Button>
	
	<Frame name="WQT_SettingsQuestListPreview" mixin="WQT_SettingsQuestListMixin" hidden="true">
		<Size y="36"/>	
		<Frames>
			<Button parentKey="Preview" inherits="WQT_QuestTemplate" enableMouse="false" hidden="false">
				<Anchors>
					<Anchor point="LEFT" x="7"/>
				</Anchors>
				<!-- Disable all functionality. It's only a preview -->
				<Scripts>
					<OnClick />
					<OnLoad />
					<OnUpdate />
					<OnEnter />
					<OnLeave />
				</Scripts>
			</Button>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingCheckboxTemplate" mixin="WQT_SettingsCheckboxMixin" virtual="true">
		<Size y="30"/>	
		<Frames>
			<CheckButton parentKey="CheckBox" inherits="UICheckButtonTemplate">
				<Size x="25" y="25"/>
				<HitRectInsets right="-75"/>
				<Anchors>
					<Anchor point="LEFT" x="25"/>
				</Anchors>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
					<OnClick>
						self:GetParent():OnValueChanged(self:GetChecked(), true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>
				</Scripts>
			</CheckButton>
			<Frame parentKey="DisabledOverlay">
				<HitRectInsets right="-75"/>
				<Anchors>
					<Anchor point="TOPLEFT" relativeKey="$parent.CheckBox"/>
					<Anchor point="BOTTOMRIGHT" relativeKey="$parent.CheckBox"/>
				</Anchors>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
				</Scripts>
			</Frame>
		</Frames>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.CheckBox" relativePoint="RIGHT" x="5"/>
						<Anchor point="RIGHT" x="-15"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Frame>
	
	<Frame name="WQT_SettingSliderTemplate" mixin="WQT_SettingsSliderMixin" virtual="true">
		<Size y="47"/>	
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="TOPLEFT" x="30" y="-7"/>
						<Anchor point="RIGHT" x="-15"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<Slider parentKey="Slider" inherits="HorizontalSliderTemplate">
				<Size y="17"/>
				<Anchors>
					<Anchor point="BOTTOMLEFT" x="30" y="5"/>
					<Anchor point="RIGHT" x="-75"/>
				</Anchors>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
					<OnValueChanged>
						self:GetParent():OnValueChanged(value, userInput);
					</OnValueChanged>
				</Scripts>
			</Slider>
			<EditBox parentKey="TextBox" inherits="InputBoxTemplate" autoFocus="false">
				<Size x="30" y="20"/>
				<HitRectInsets left="-10"/>
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.Slider" relativePoint="RIGHT" x="10" y="1"/>
					<Anchor point="RIGHT" x="-35" y="1"/>
				</Anchors>
				<FontString inherits="NumberFont_Shadow_Small"/>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self:GetParent().Slider);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
					<OnEnterPressed>
						self:ClearFocus();
					</OnEnterPressed>
					<OnEditFocusLost>
						self:GetParent():OnValueChanged(self:GetText(), true);
					</OnEditFocusLost>
				</Scripts>
			</EditBox>
		</Frames>
		
	</Frame>
	
	<Frame name="WQT_SettingSubTitleTemplate" mixin="WQT_SettingsBaseMixin" virtual="true">
		<Size y="30"/>	
		<KeyValues>
			<KeyValue key="staticLabelFont" value="true" type="boolean"/>
		</KeyValues>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture parentKey="Background" file="Interface\ACHIEVEMENTFRAME\UI-Achievement-RecentHeader" desaturated="true" alpha="0.75">
					<Anchors>
						<Anchor point="TOPLEFT" x="15" y="-5"/>
						<Anchor point="BOTTOMRIGHT" x="-20" y="5"/>
					</Anchors>
					<TexCoords bottom="0.75"/>
				</Texture>
			</Layer>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontHighlight" maxLines="1" justifyH="CENTER">
					<Anchors>
						<Anchor point="LEFT" x="15" y="2"/>
						<Anchor point="RIGHT" x="-15" y="2"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Frame>
	
	<Frame name="WQT_SettingDropDownTemplate" mixin="WQT_SettingsDropDownMixin" virtual="true">
		<Size y="55"/>	
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="TOPLEFT" x="30" y="-7"/>
						<Anchor point="RIGHT" x="-15"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingButtonTemplate" mixin="WQT_SettingsButtonMixin" virtual="true">
		<Size y="30"/>
		<Frames>
			<Button parentKey="Button" inherits="UIMenuButtonStretchTemplate">
				<Size x="150" y="26"/>
				<Anchors>
					<Anchor point="LEFT" x="27" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="CENTER">
							<Size x="120" y="25"/>
							<Anchors>
								<Anchor point="CENTER" y="1"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnMouseDown inherit="prepend">
						self.Label:SetPoint("CENTER", self, 2, -1);
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						self.Label:SetPoint("CENTER", self, 0, 1);
					</OnMouseUp>
					<OnClick> 
						self:GetParent():OnValueChanged(nil, true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
				</Scripts>		
				<HighlightTexture file="Interface\Buttons\UI-Silver-Button-Highlight" alphaMode="ADD" alpha="0.5">
					<TexCoords left="0" right="1.0" top="0.03" bottom="0.7175"/>
				</HighlightTexture>
			</Button>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingsFrame" parent="WQT_OverlayFrame" mixin="WQT_SettingsFrameMixin" hidden="true">
		<Size x="257" y="462" />
		<Frames>
			<ScrollFrame inherits="WQT_OverlayScrollFrameTemplate" parentKey="ScrollFrame">
				<Anchors>
					<Anchor point="TOPLEFT"/>
					<Anchor point="BOTTOMRIGHT" x="-20"/>
				</Anchors>
			</ScrollFrame>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
 </Ui>