 <Ui xmlns="http://www.blizzard.com/wow/ui/"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ../../FrameXML/UI.xsd">

	<Script file="Settings.lua"/>

	<Button name="WQT_SettingCategoryTemplate" mixin="WQT_SettingsCategoryMixin" virtual="true">
		<Size y="34"/>	
		<Layers>
			<Layer level="BACKGROUND">
				<Texture parentKey="BGLeft" atlas="Options_ListExpand_Left" useAtlasSize="true">
					<Anchors>
						<Anchor point="TOPLEFT" x="10" y="-2"/>
					</Anchors>
				</Texture>
				<Texture parentKey="BGRight" atlas="Options_ListExpand_Right" useAtlasSize="true">
					<Anchors>
						<Anchor point="TOPRIGHT" x="-10" y="-2"/>
					</Anchors>
				</Texture>
				<Texture parentKey="BGMiddle" atlas="_Options_ListExpand_Middle" horizTile="true">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.BGLeft" relativePoint="TOPRIGHT"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.BGRight" relativePoint="BOTTOMLEFT"/>
					</Anchors>
				</Texture>
			</Layer>
			
			<Layer level="ARTWORK">
				<FontString parentKey="Title" inherits="GameFontHighlight" maxLines="1" justifyH="CENTER" text="testing">
					<Anchors>
						<Anchor point="LEFT" x="30" y="2"/>
						<Anchor point="RIGHT" x="-30" y="2"/>
					</Anchors>
				</FontString>
			</Layer>
			
			<Layer level="HIGHLIGHT">
				<Texture parentKey="HighlightLeft" atlas="Section_Expand_glowing_Left" useAtlasSize="true">
					<Anchors>
						<Anchor point="TOPLEFT" x="10" y="-3"/>
					</Anchors>
				</Texture>
				<Texture parentKey="HighlightRight" atlas="Section_Expand_glowing_right" useAtlasSize="true">
					<Anchors>
						<Anchor point="TOPRIGHT" x="-10" y="-3"/>
					</Anchors>
				</Texture>
				<Texture parentKey="HighlightMiddle" atlas="Section_Expand_glowing_middle" horizTile="true">
					<Anchors>
						<Anchor point="TOPLEFT" relativeKey="$parent.HighlightLeft" relativePoint="TOPRIGHT"/>
						<Anchor point="BOTTOMRIGHT" relativeKey="$parent.HighlightRight" relativePoint="BOTTOMLEFT"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
		<Scripts>
			<OnClick>
				self:SetExpanded(not self.isExpanded);
				PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
			</OnClick>
		</Scripts>
	</Button>
	
	<Button name="WQT_SettingSubCategoryTemplate" mixin="WQT_SettingsCategoryMixin" virtual="true">
		<Size y="34"/>	
		<KeyValues>
			<KeyValue key="staticLabelFont" value="true" type="boolean"/>
		</KeyValues>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture parentKey="Background" atlas="UI-Frame-Mechagon-DisableSubtitle" useAtlasSize="true" alpha="0.5">
					<Anchors>
						<Anchor point="TOPLEFT" x="15" y="-6"/>
						<Anchor point="BOTTOMRIGHT" x="-15" y="6"/>
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="ARTWORK">
				<FontString parentKey="Title" inherits="GameFontHighlight" maxLines="1" justifyH="CENTER">
					<Anchors>
						<Anchor point="LEFT" x="15" y="1"/>
						<Anchor point="RIGHT" x="-15" y="1"/>
					</Anchors>
				</FontString>
				<Texture parentKey="ExpandIcon" atlas="friendslist-categorybutton-arrow-right" useAtlasSize="true" desaturated="true">
					<Anchors>
						<Anchor point="CENTER" relativePoint="RIGHT" x="-40" y="0"/>
					</Anchors>
				</Texture>
			</Layer>
			<Layer level="HIGHLIGHT">
				<Texture parentKey="Highlight" atlas="UI-Frame-Mechagon-Subtitle" alphaMode="ADD" alpha="0.5">
					<Anchors>
						<Anchor point="TOPLEFT" x="15" y="-6"/>
						<Anchor point="BOTTOMRIGHT" x="-15" y="6"/>
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
		<Scripts>
			<OnClick>
				self:SetExpanded(not self.isExpanded);
				PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
			</OnClick>
		</Scripts>
	</Button>
	
	<Frame name="WQT_SettingsQuestListPreview" mixin="WQT_SettingsQuestListMixin" hidden="true">
		<Size y="36"/>	
		<Frames>
			<Button parentKey="Preview" inherits="WQT_QuestTemplate" enableMouse="false" hidden="false">
				<Anchors>
					<Anchor point="LEFT" x="0"/>
				</Anchors>
				<!-- Disable all functionality. It's only a preview -->
				<Scripts>
					<OnClick />
					<OnLoad />
					<OnUpdate />
					<OnEnter />
					<OnLeave />
				</Scripts>
			</Button>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingCheckboxTemplate" mixin="WQT_SettingsCheckboxMixin" virtual="true">
		<Size y="32"/>	
		<Frames>
			<CheckButton parentKey="CheckBox">
				<Size x="25" y="25"/>
				<HitRectInsets right="-150"/>
				<Anchors>
					<Anchor point="LEFT" x="40"/>
				</Anchors>
				<NormalTexture atlas="checkbox-minimal" useAtlasSize="true" />
				<PushedTexture atlas="checkbox-minimal" useAtlasSize="true" />
				<CheckedTexture atlas="checkmark-minimal" useAtlasSize="true" />
				<DisabledCheckedTexture atlas="checkmark-minimal-disabled" useAtlasSize="true" />
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
					<OnClick>
						self:GetParent():OnValueChanged(self:GetChecked(), true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>
				</Scripts>
			</CheckButton>
			<Frame parentKey="DisabledOverlay">
				<HitRectInsets right="-150"/>
				<Anchors>
					<Anchor point="TOPLEFT" relativeKey="$parent.CheckBox"/>
					<Anchor point="BOTTOMRIGHT" relativeKey="$parent.CheckBox"/>
				</Anchors>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
				</Scripts>
			</Frame>
		</Frames>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.CheckBox" relativePoint="RIGHT" x="5"/>
						<Anchor point="RIGHT" x="-15"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Frame>
	
	<Frame name="WQT_SettingSliderTemplate" mixin="WQT_SettingsSliderMixin" virtual="true">
		<Size y="49"/>	
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="TOPLEFT" x="42" y="-7"/>
						<Anchor point="RIGHT" x="-15"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>

			<Frame parentKey="SliderWithSteppers" inherits="MinimalSliderWithSteppersTemplate">
				<Size y="20"/>
				<Anchors>
					<Anchor point="BOTTOMLEFT" x="40" y="4"/>
					<Anchor point="RIGHT" x="-80"/>
				</Anchors>
			</Frame>
			<EditBox parentKey="TextBox" inherits="InputBoxTemplate" autoFocus="false">
				<Size x="30" y="20"/>
				<HitRectInsets left="-10"/>
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.SliderWithSteppers" relativePoint="RIGHT" x="10" y="1"/>
					<Anchor point="RIGHT" x="-40" y="1"/>
				</Anchors>
				<FontString inherits="NumberFont_Shadow_Small"/>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self:GetParent().Slider);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
					<OnEnterPressed>
						self:ClearFocus();
					</OnEnterPressed>
					<OnEditFocusLost>
						self:GetParent():OnValueChanged(self:GetText(), true);
					</OnEditFocusLost>
				</Scripts>
			</EditBox>
		</Frames>
		
	</Frame>
	
	<Frame name="WQT_SettingSubTitleTemplate" mixin="WQT_SettingsBaseMixin" virtual="true">
		<Size y="30"/>	
		<KeyValues>
			<KeyValue key="staticLabelFont" value="true" type="boolean"/>
		</KeyValues>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture parentKey="Background" file="Interface\ACHIEVEMENTFRAME\UI-Achievement-RecentHeader" desaturated="true" alpha="0.75">
					<Anchors>
						<Anchor point="TOPLEFT" x="15" y="-5"/>
						<Anchor point="BOTTOMRIGHT" x="-20" y="5"/>
					</Anchors>
					<TexCoords bottom="0.75"/>
				</Texture>
			</Layer>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontHighlight" maxLines="1" justifyH="CENTER">
					<Anchors>
						<Anchor point="LEFT" x="15" y="2"/>
						<Anchor point="RIGHT" x="-15" y="2"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Frame>

	<Frame name="WQT_SettingTextTemplate" mixin="WQT_SettingsTextMixin" virtual="true">
		<Size y="30"/>	
		<KeyValues>
			<KeyValue key="staticLabelFont" value="true" type="boolean"/>
			<KeyValue key="topPadding" value="2" type="number"/>
			<KeyValue key="bottomPadding" value="10" type="number"/>
		</KeyValues>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontHighlight" justifyH="LEFT" justifyV="TOP">
					<Anchors>
						<Anchor point="LEFT" x="40"/>
						<Anchor point="TOP" y="0"/>
						<Anchor point="RIGHT" x="-30"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
	</Frame>
	
	
	<Frame name="WQT_SettingColorTemplate" mixin="WQT_SettingsColorMixin" virtual="true">
		<Size y="32"/>
		<HitRectInsets top="3" right="75" bottom="3" left="75"/>
	
		<Frames>
			<Button parentKey="Picker" inherits="UIMenuButtonStretchTemplate">
				<Size x="26" y="26"/>
				<Anchors>
					<Anchor point="LEFT" x="42" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<Texture parentKey="Color" atlas="LootBanner-IconGlow">
							<Size x="14" y="14"/>
							<Anchors>
								<Anchor point="CENTER"/>
							</Anchors>
						</Texture>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave(self);
					</OnLeave>
					<OnClick> 
						self:GetParent():StartPicking();
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
					<OnMouseDown inherit="prepend">
						if (self:IsEnabled()) then
							self.Color:SetPoint("CENTER", self, 1, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (self:IsEnabled()) then
							self.Color:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
				</Scripts>		
				<HighlightTexture atlas="bags-glow-white" alphaMode="ADD" alpha="0.5">
					<Anchors>
						<Anchor point="TOPLEFT" x="3" y="-3"/>
						<Anchor point="BOTTOMRIGHT" x="-3" y="3"/>
					</Anchors>
				</HighlightTexture>
			</Button>
			
			<Button parentKey="ResetButton" inherits="UIMenuButtonStretchTemplate">
				<Size x="26" y="26"/>
				
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.Picker" relativePoint="RIGHT" x="5" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<Texture parentKey="Icon" atlas="soulbinds_tree_undo" alpha="0.75">
							<Size x="14" y="14"/>
							<Anchors>
								<Anchor point="CENTER"/>
							</Anchors>
						</Texture>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						GameTooltip:SetOwner(self, "ANCHOR_RIGHT");
						GameTooltip_SetTitle(GameTooltip, RESET_TO_DEFAULT);
						GameTooltip:Show();
					</OnEnter>
					<OnLeave>
						GameTooltip:Hide();
					</OnLeave>
					<OnClick> 
						self:GetParent():ResetColor(true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
					<OnMouseDown inherit="prepend">
						if (self:IsEnabled()) then
							self.Icon:SetPoint("CENTER", self, 1, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (self:IsEnabled()) then
							self.Icon:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
				</Scripts>		
				<HighlightTexture atlas="bags-glow-white" alphaMode="ADD" alpha="0.5">
					<Anchors>
						<Anchor point="TOPLEFT" x="3" y="-3"/>
						<Anchor point="BOTTOMRIGHT" x="-3" y="3"/>
					</Anchors>
				</HighlightTexture>
			</Button>
		</Frames>
		
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.ResetButton" relativePoint="RIGHT" x="10" y="0"/>
					</Anchors>
				</FontString>
				<FontString parentKey="ExampleText" inherits="GameFontWhite" maxLines="1" justifyH="LEFT" text="PREVIEW" hidden="true">
					<Anchors>
						<Anchor point="LEFT" relativeKey="$parent.ResetButton" relativePoint="RIGHT" x="10" y="0"/>
					</Anchors>
				</FontString>	
			</Layer>
		</Layers>
		
		<Frames>
			<Button parentKey="ExampleRing" hidden="true">
				<Size x="25" y="25" />
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.ExampleText" relativePoint="RIGHT" x="10" y="0"/>
				</Anchors>
				<Layers>
					<Layer level="ARTWORK" textureSubLevel="-1">
						<!-- This serves as a background for the timer -->
						<Texture parentKey="RingBG" alpha="1" file="Interface\Addons\WorldQuestTab\Images\PoIRingBG" />
					</Layer>
					<Layer level="ARTWORK" textureSubLevel="2" >
						<!-- Edge highlight of the timer. Custom so it can be colored -->
						<Texture parentKey="Pointer" alpha="1" file="Interface\Addons\WorldQuestTab\Images\PoIRingPointer"/>
					</Layer>
				</Layers>
				<Frames>
					<Cooldown parentKey="Ring" useParentLevel="true" setAllPoints="true" hideCountdownNumbers="true">
						<SwipeTexture file="Interface\Addons\WorldQuestTab\Images\PoIRingBar"/>
					</Cooldown>
				</Frames>
			</Button>
		</Frames>
		
		<Scripts>
			<OnLoad method="OnLoad"/>
			<OnEnter>
				self:OnEnter(self.Label);
			</OnEnter>
			<OnLeave>
				self:OnLeave(self.Label);
			</OnLeave>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingDropDownTemplate" mixin="WQT_SettingsDropDownMixin" virtual="true">
		<Size y="55"/>	
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="TOPLEFT" x="42" y="-7"/>
						<Anchor point="RIGHT" x="-15"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<DropdownButton parentKey="Dropdown" inherits="WowStyle1DropdownTemplate">
				<Anchors>
					<Anchor point="BOTTOMLEFT" x="42" y="6"/>
					<Anchor point="RIGHT" x="-42" y="0"/>
				</Anchors>
			</DropdownButton>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingButtonTemplate" mixin="WQT_SettingsButtonMixin" virtual="true">
		<Size y="32"/>
		<Frames>
			<Button parentKey="Button" inherits="UIMenuButtonStretchTemplate">
				<Size  y="26"/>
				<Anchors>
					<Anchor point="LEFT" x="40" y="0"/>
					<Anchor point="RIGHT" x="-40" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="CENTER">
							<Size x="120" y="25"/>
							<Anchors>
								<Anchor point="CENTER" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave(self);
					</OnLeave>
					<OnMouseDown inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 2, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
					<OnClick> 
						self:GetParent():OnValueChanged(nil, true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
				</Scripts>		
				<HighlightTexture file="Interface\Buttons\UI-Silver-Button-Highlight" alphaMode="ADD" alpha="0.5">
					<TexCoords left="0" right="1.0" top="0.03" bottom="0.7175"/>
				</HighlightTexture>
			</Button>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingConfirmButtonTemplate" mixin="WQT_SettingsConfirmButtonMixin" virtual="true">
		<Size y="32"/>
		<Frames>
			<Button parentKey="Button" inherits="UIMenuButtonStretchTemplate">
				<Size  y="26"/>
				<Anchors>
					<Anchor point="LEFT" x="40" y="0"/>
					<Anchor point="RIGHT" x="-40" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="CENTER">
							<Size x="120" y="25"/>
							<Anchors>
								<Anchor point="CENTER" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave(self);
					</OnLeave>
					<OnMouseDown inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 2, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
					<OnClick> 
						self:GetParent():SetPickingState(true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
				</Scripts>		
				<HighlightTexture file="Interface\Buttons\UI-Silver-Button-Highlight" alphaMode="ADD" alpha="0.5">
					<TexCoords left="0" right="1.0" top="0.03" bottom="0.7175"/>
				</HighlightTexture>
			</Button>
			
			<Button parentKey="ButtonConfirm" inherits="UIMenuButtonStretchTemplate" hidden="true">
				<Size x="50" y="26"/>
				<Anchors>
					<Anchor point="LEFT" x="27" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="CENTER" text="YES">
							<Size x="120" y="25"/>
							<Anchors>
								<Anchor point="CENTER" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave(self);
					</OnLeave>
					<OnMouseDown inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 2, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
					<OnClick> 
						self:GetParent():OnValueChanged(true, true);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
				</Scripts>		
				<HighlightTexture file="Interface\Buttons\UI-Silver-Button-Highlight" alphaMode="ADD" alpha="0.5">
					<TexCoords left="0" right="1.0" top="0.03" bottom="0.7175"/>
				</HighlightTexture>
			</Button>
			
			<Button parentKey="ButtonDecline" inherits="UIMenuButtonStretchTemplate" hidden="true">
				<Size x="50" y="26"/>
				<Anchors>
					<Anchor point="LEFT" relativeKey="$parent.ButtonConfirm" relativePoint="RIGHT" x="5" y="0"/>
					<Anchor point="RIGHT" x="-35" y="0"/>
				</Anchors>
				
				<Layers>
					<Layer level="ARTWORK">
						<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="CENTER" text="NO">
							<Size x="120" y="25"/>
							<Anchors>
								<Anchor point="CENTER" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter(self);
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave(self);
					</OnLeave>
					<OnMouseDown inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 2, -1);
						end
					</OnMouseDown>
					<OnMouseUp inherit="prepend">
						if (not self:GetParent():IsDisabled()) then
							self.Label:SetPoint("CENTER", self, 0, 0);
						end
					</OnMouseUp>
					<OnClick> 
						self:GetParent():SetPickingState(false);
						PlaySound(SOUNDKIT.IG_MAINMENU_OPTION_CHECKBOX_ON);
					</OnClick>	
				</Scripts>		
				<HighlightTexture file="Interface\Buttons\UI-Silver-Button-Highlight" alphaMode="ADD" alpha="0.5">
					<TexCoords left="0" right="1.0" top="0.03" bottom="0.7175"/>
				</HighlightTexture>
			</Button>
			
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>
	
	<Frame name="WQT_SettingTextInputTemplate" mixin="WQT_SettingsTextInputMixin" virtual="true">
		<Size y="50"/>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="Label" inherits="GameFontNormal" maxLines="1" justifyH="LEFT">
					<Anchors>
						<Anchor point="TOPLEFT" x="42" y="-7"/>
						<Anchor point="RIGHT" x="-15"/>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>
			<EditBox parentKey="TextBox" inherits="InputBoxTemplate" autoFocus="false">
				<Size y="25"/>
				<HitRectInsets left="-10"/>
				<Anchors>
					<Anchor point="BOTTOMLEFT" x="47" y="5"/>
					<Anchor point="RIGHT" x="-41" />
				</Anchors>
				<FontString inherits="NumberFont_Shadow_Small"/>
				<Scripts>
					<OnEnter>
						self:GetParent():OnEnter();
					</OnEnter>
					<OnLeave>
						self:GetParent():OnLeave();
					</OnLeave>
					<OnEnterPressed>
						self:ClearFocus();
					</OnEnterPressed>
					<OnEditFocusLost>
						self:GetParent():OnValueChanged(self:GetText(), true);
					</OnEditFocusLost>
				</Scripts>
			</EditBox>
		</Frames>
		<Scripts>
			<OnLoad method="OnLoad"/>
		</Scripts>
	</Frame>

	<Frame name="WQT_SettingsFrame" parent="WQT_WorldQuestFrame" parentKey="SettingsFrame" mixin="WQT_SettingsFrameMixin" parentArray="panels" hidden="true">
		<Size x="257" y="462" />
		<Anchors>
			<Anchor point="TOPLEFT" />
			<Anchor point="BOTTOMRIGHT" />
		</Anchors>
		<KeyValues>
			<KeyValue key="panelID" value="WQT_PanelID.Settings" type="global" />
		</KeyValues>
		<Layers>
			<Layer level="BACKGROUND">
				<Texture parentKey="Background" file="interface\professions\professionsminimizedview">
					<TexCoords top="0.0009765625" right="0.787109375" bottom="0.533" left="0.001953125" />
					<Anchors>
						<Anchor point="TOPLEFT" />
						<Anchor point="BOTTOMRIGHT" />
					</Anchors>
				</Texture>
			</Layer>
		</Layers>
		<Frames>
			<Frame parentKey="BorderFrame" inherits="QuestLogBorderFrameTemplate" />

			<Button parentKey="CloseButton" inherits="WQT_PanelCloseButtonTemplate"/>
			<Frame parentKey="ScrollBox" inherits="WowScrollBox" frameStrata="HIGH">
				<Anchors>
					<Anchor point="TOPLEFT" />
					<Anchor point="BOTTOMRIGHT" />
				</Anchors>
				<KeyValues>
					<KeyValue key="wheelPanScalar" type="number" value="0.1" />
				</KeyValues>
				<Frames>
					<Frame parentKey="ScrollContent">
						<Size x="268" y="400" />
						<KeyValues>
							<KeyValue key="scrollable" value="true" type="boolean" />
						</KeyValues>
						<Scripts>
							<OnLoad>
								self:SetWidth(WQT_SettingsFrame:GetWidth());
							</OnLoad>
						</Scripts>
					</Frame>

				</Frames>
			</Frame>
			<EventFrame parentKey="ScrollBar" inherits="MinimalScrollBar" frameStrata="HIGH">
				<Anchors>
					<Anchor point="TOPLEFT" relativePoint="TOPRIGHT" x="8" y="2" />
					<Anchor point="BOTTOMLEFT" relativePoint="BOTTOMRIGHT" x="8" y="-4" />
				</Anchors>
			</EventFrame>
		</Frames>
		<Layers>
			<Layer level="ARTWORK">
				<FontString parentKey="TitleText" inherits="Game15Font_Shadow" wordwrap="false" text="MAP_LEGEND_FRAME_LABEL">
					<Anchors>
						<Anchor point="BOTTOM" relativeKey="$parent.BorderFrame" relativePoint="TOP" x="-1" y="3" />
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Scripts>
			<OnLoad method="OnLoad" />
			<OnShow method="Refresh" />
		</Scripts>
	</Frame>
 </Ui>